body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.profile-card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.card-header {
    background: #35424a;
    padding: 30px;
    text-align: center;
}

.card-header img {
    border-radius: 50%;
    width: 100px;
    height: 105px;
    
    object-fit: cover;
    border: 3px solid #ffffff;
}

.card-body {
    padding: 20px;
    text-align: center;
}

.card-body h2 {
    margin: 10px 0;
    font-size: 1.5em;
}

.card-body p {
    color: #666;
    margin-bottom: 15px;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    text-decoration: none;
    color: #35424a;
    margin: 5px 6px;
    padding: 5px 1px;
    border: 1px solid #35424a;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.social-links a:hover {
    background: #35424a;
    color: #ffffff;
}